.page{
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
.container{
    max-width: 1140px;
    position: relative;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row{
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}
.col-sm-2{
    width: 16.66667%;
}
img{
    width: 190px;
    height: 50px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
}